<<<<<<< HEAD

=======
/* homepage.css */
>>>>>>> 34c54ff1c018cafedd6cd138d8cef1650dac4756
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/—Pngtree—tech background image of desktop_1089664.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    background-color: rgba(255, 255, 255, 0.8); 
=======
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
>>>>>>> 34c54ff1c018cafedd6cd138d8cef1650dac4756
    padding: 20px;
    border-radius: 10px;
}

.button-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.duration-input {
    width: 80px;
    margin-right: 16px;
}

.ant-btn {
<<<<<<< HEAD
    width: 200px; 
=======
    width: 200px; /* Updated for better UI */
>>>>>>> 34c54ff1c018cafedd6cd138d8cef1650dac4756
}