.question-container {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .ant-list-item {
    width: 100%;
  }
  
  .question-card {
    width: 100%;
<<<<<<< HEAD
    max-width: 600px; 
=======
    max-width: 600px; /* Sabit genişlik */
>>>>>>> 34c54ff1c018cafedd6cd138d8cef1650dac4756
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .radio-option {
    margin-bottom: 8px;
  }

  
  

  