/* src/App.css */

body {
  background-color: #f0f2f5;
}

.ant-card-meta-title {
  font-size: 24px;
  font-weight: bold;
}

.ant-card-meta-description {
  font-size: 16px;
}

.ant-list-item-meta-title {
  font-weight: bold;
}

.ant-list-item-meta-description {
  color: rgba(0, 0, 0, 0.45);
}

